.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 42px;
    padding-left: 45px;
    width: 300px;
    border-radius: 7px;
    font-size: 16px;
    transition: all .125s;

    &:focus {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translate(0, -50%);
}

.close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);

    &:hover {
        opacity: 1;
    }
}

.search {
    position: relative;
}